<p id="notice"><%= notice %></p>
<br />
<div class="well well-lg">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.user.username %>
  <% if current_user.avatar.url != nil %>
    <%= image_tag current_user.avatar.url, size: 40 %>
  <% end %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry %>
</p>

<div id="comments">
  <%= render 'comments/form', comment: @comment %>

  <% @post.comments.each do |comment| %>
    <div class="well well-sm">
      <%= comment.user.username %>
      <%= image_tag current_user.avatar.url, size: 40 %> <br />
      <%= comment.comment_entry %> <br />
      <%= comment.created_at %> <br />
    </div>
  <% end %>
</div>
</div>
<button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_post_path(@post) %></button> |
<button type="button" class="btn btn-primary"><%= link_to 'Back', posts_path %>
