<!DOCTYPE html>
<html>
  <head>
    <title>Noble's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="jumbotron">
      <header class="jumbotron_font">Noble's Blog<header>
    </div>

    <div class="icon-bar">
      <a href="mailto:jarod.sneed@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://www.google.com"><i class="fab fa-google"></i></a>
    </div>

    <div class="pull-right">
      <% if user_signed_in? %>
        <% if current_user.avatar.url != nil %>
          <%= image_tag current_user.avatar.url, size: 40 %>
        <% end %>
      <%= link_to "Return to Posts", posts_path, class: "btn btn-success" %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        Welcome <%= current_user.username %>!
      <% end %>
    </div>
    <br />
    <br />

    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>
